@font-face {
    font-family: "heyam";
    src: url(../assets/Heyam.woff);
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none; 
}

a {
    text-decoration: none;
}

.inicio {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.inicio_esquerda img {
    width: 10rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin-left: 2rem;
}

/* Inicio meio */
.inicio_meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

/* Inicio meio - Nome */
.nome {
    text-align: center;
    padding-bottom: 0.6rem;
    font-family: "heyam", Helvetica, sans-serif;
    color: palevioletred;
    font-size: 3.5rem;
}

/* Inicio meio - Barra de pesquisa */
.search_box {
    display: flex;
    background-color: white;
    padding: 0.8rem;
    gap: 5px;
    border-radius: 0.8rem;
}

.search_input {
    border: none;
    color: black;
    font-size: 1.2rem;
    width: 95%;
}

.search_input:focus-visible {
    outline: none;
}

.search_button {
    background: transparent;
    border: none;
}

/* Fim do Inicio meio */

/* Inicio direita */

.inicio_direita {
    width: 25%;
    margin-right: 4rem;
}

.inicio_direita_cima {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.inicio_direita a {
    color: aliceblue;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.carrinho {
    text-align: center;    
}

.carrinho i{
    font-size: 2.5rem;
}

/* Fim Inicio direita */

/* Menu */

.menu {
    padding: 0.5rem;
    background-color: palevioletred;
}

.menu ul {
    display: flex;
    justify-content: space-around; 
}

.menu ul li{
    font-size: 1.2rem;
}

.menu ul li a{
    color: black;
    font-weight: 900;
}

.menu ul li a:hover{
    color: rgb(153, 11, 58);
    font-weight: 900;
}

/* Fim Menu */

/* Inicio Menu menor */
.menu_menor {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: white;
    font-size: 1.2rem;
    background-color: rgba(216, 112, 147, 0.95);
    border: 5px solid white;
}

.menu_menor_icone {
    background-color: black;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.menu_menor_icone i{
    cursor: pointer;
}

.menu_menor ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}

.menu_menor ul li {
    border-bottom: 2px solid rgba(128, 128, 128, 0.9);
    padding-bottom: 1.2rem;
}

.menu_menor ul li a {
    color: black;
    font-weight: bold; 
}

.menu_menor ul li a:hover {
    color: rgb(153, 11, 58);
    font-weight: 900;
}

/* Fim Menu menor */

.search_box_2_content {
    background-color: black;
    padding-bottom: 1rem;
    display: none;
}

.search_box_2 {
    display: flex;
    background-color: white;
    padding: 0.8rem;
    gap: 5px;
    border-radius: 0.8rem;
}

.search_input_2 {
    border: none;
    color: black;
    font-size: 1.2rem;
    width: 95%;
}

.search_input_2:focus-visible {
    outline: none;
}

.search_button_2 {
    background: transparent;
    border: none;
}

/* Menu Hamburguer */
.hamburguer {
    width: 5%;
    text-align: center;
    padding-top: 4rem;
    padding-left: 1rem;
    display: none;
}

.hamburguer i{
    color: white;
    font-size: 2rem;
}
/* Fim do Menu Hamburguer */

@media screen and (max-width: 1024px) {
    .hamburguer, .search_box_2_content {
        display: block;
    }
    .hamburguer {
        cursor: pointer;
    }
    .search_box, .quemsomos, .faleconosco, .menu {
        display: none;
    }
    .inicio_esquerda img {
        width: 8rem;
        text-align: center;
    }

}

@media screen and (max-width: 600px) {
    .hamburguer, .search_box_2_content {
        display: block;
    }
    .nome, .search_box, .quemsomos, .faleconosco, .menu {
        display: none;
    }
    .inicio_esquerda img {
        width: 8rem;
        text-align: center;
    }

}